ol li{
    list-style-type: square;
    list-style-position: inside;
}
.ul1 li{
    list-style-image: url(mouse.png);
    list-style-position: inside;
}
h1{
    text-align: center;
    text-transform:capitalize ;
    font-variant: small-caps;
}
body{
    background-image:url(blu.jpg);
    background-size:cover;
    background-attachment:scroll;
    
}
.div1{
    background-color: aqua;
    width: 1300px;
    height: 600px;
    background-image: url(nature.jfif);
    color:red;
    font-size: 30px;
}
.div2{
    border: 2px solid black;
    height: 600px;
    width: 1300px;
    background-color: white;
    background-image: url(nature.jfif);
    background-repeat:repeat-y;

}
.div3{
    border-radius:40px;
    width: 1300px;
    height:600px;
    background-color: blueviolet;
    background-image: url(nature.jfif); 
     background-repeat: repeat-x;     
    color: deeppink;
    padding-top: 10%;
}
.div4{
    width: 1300px;
    height:600px;
    background-image: url(nature.jfif);
    background-position:center;
    background-repeat: no-repeat;
}
.div5{
    width: 1300px;
    height:600px;
    background-image: url(nature.jfif);
    background-position:bottom;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.div6{
    width: 1300px;
    height:600px;
    background-image: url(nature.jfif);
    background-position:left bottom;
    background-repeat: no-repeat;
    border: 2px solid black;
    background-color: brown;

}
.div7{
    width: 1300px;
    height:600px;
    background-image: url(nature.jfif);
    background-position:100% 100%;
    background-repeat: no-repeat;
    border: 2px solid black;
    background-color: rgb(205, 52, 108);
    border-radius: 60px;
}
.div8{
    width: 1300px;
    height:600px;
    background-image: url(nature.jfif);
    background-position:100% 0%;
    background-repeat: no-repeat;
    border: 2px solid black;
    background-color: rgb(203, 189, 194);
}