
body{
    background-color:skyblue;
}
.div1{
    background-image: url(fd.jpg);
    width: 90vw;
    height:90vh;
    background-size: contain;
    background-repeat: repeat-y;
}
.div2{
    text-align: center;
    padding-top:15%;
    color:white;
    font-size: larger;
}
#off{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 50px;
    
}   
#huge{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight:500;
    font-size: 70px;
} 
button{
     box-sizing: border-box;
     height: 45px;   
    -webkit-background-clip: text;   
    color: white;
    border-color: white;
}